.calculator {
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.display {
  border: .4rem solid green;
  font-weight: 600;
  line-height: 2rem;
  min-height: 2rem;
  width: 20.9rem;
  margin: auto;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-weight: 600;
  margin-bottom: 1rem;
}

label {
  margin-right: 1rem;
}

.string-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

textarea {
  border: .2rem solid black;
  width: 14rem;
  font-size: .8rem;
  font-weight: 600;
}

.submit {
  border: .15rem solid black;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 .15rem 0 0 rgb(30, 30, 30);
}

.submit:active {
  border: .15rem solid black;
  border-radius: 5px;
  position: relative;
  top: .2rem;
  box-shadow: 0 0 0 0;
}

.text-red {
  color: red;
}

.checkbox {
  margin-right: .5rem;

}

label {
  color: darkblue;
  font-weight: 600;
}

.operators {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 10rem;
  height: 2.1rem;
  border: black solid .2rem;
}

.custom-delimiter {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  width: 3rem;
  height: 1.6rem;
  border: black solid .2rem;
  border-radius: 5px;
}

.upper-bound {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  width: 5rem;
  height: 1.6rem;
  border: black solid .2rem;
  border-radius: 5px;
}